{% extends 'base.html.twig' %}
{% block maintag %}<main class="narrow">{% endblock %}
{% block body %}
   <div class="callout">
      <h1>Welcome to HOBYTracker!</h1>
      Use the links above to navigate. If you experience any problems or have any questions, please let the Director of Facilitators know.
   </div>
{% endblock %}