{% extends 'base.html.twig' %}

{% block body %}
	<h1>Program</h1>
	<p>
		<strong>Meal Notes:</strong> There will always be allergy-friendly options available. See the Director of Operations with questions or concerns. In addition to the items listed with each meal, each breakfast will include fruit, bread, and pastries. Each lunch and dinner will include a pizza station, soup options, fresh fruit, salad bar, ice cream, and bakery desserts. Every meal will include beverages.</p>
	<div id="calendar-key">
		<div style="background-color: #a10008;">Meal</div>
		<div style="background-color: #1e2399;">Panel/Speaker</div>
		<div style="background-color: #006d00;">Activity</div>
		<div style="background-color: #6a4d81;">Breakout/Reflection</div>
		<div style="background-color: #00a195;">Ceremony</div>
	</div>
	<div id="calendar"></div>

	
{% endblock %}